<div class="row ml-3">
  <div class="container">
    <div class="col-xs-12">
      <img
        [src]="recipe?.imagePath"
        alt="{{ recipe?.name }}"
        class="img-responsive mt-5"
        style="max-height: 400px; border-radius: 10px"
      />
    </div>
    <div class="my-3">
      <h1>{{ recipe?.name }}</h1>
    </div>

    <div class="col-xs-12">
      <div class="nav nav-pills">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle bg-primary text-white"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Dropdown</a
          >
          <div class="dropdown-menu">
            <li>
              <a
                (click)="onAddToShoppingList()"
                routerLink="/shoppingList"
                class="dropdown-item"
                >To Shopping List</a
              >
            </li>
            <li><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
            <li><a class="dropdown-item" (click)="onDeleteRecipes()">Delete Recipe</a></li>
          </div>
        </li>
      </div>

      <div class="col-xs-12 my-3">
        <p class="ml-3">
          {{ recipe?.description }}
        </p>
      </div>
      <div class="col-xs-12">
        <ul class="list-group">
          <li
            class="list-group-item mt-2"
            *ngFor="let ingredient of recipe?.ingredients"
          >
            {{ ingredient.name }}-{{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
